<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="stylesheet" href="/static/mujstyl.css" />
<title>Druhá stránka</title>
<body>

<h1>registrace</h1>

<form>
    <input type="text" name="nick" id="nick" value="jmeno"><br>
    <label> je plavec:</label><br>
    <input type="radio" name="je_plavec" id="je_plavec">
    <label for="je_plavec">ano</label><br>
    <input type="radio" name="je_plavec" id="neni_plavec">
    <label for="je_plavec">ne</label><br>
    <input type="text" name="kanoe_kamarad" id="kanoe_kamarad" value="kamarad"><br>
</form>
<p><a href="/odeslat">odeslat</a>.</p>
<p><a href="/">Jdi zpět</a>.</p>
</body>
</html>